<div class="container ang-df-section">
  <div class="row text-center">
    <div class="col-12 title-container">
      <h1>Angular Dialogflow Chatbot</h1>
    </div>
    <div class="offset-2 col-8">
      <p class="lead">
        Integrate Dialogflow(df) with Angular using df messenger and customize response 
        using df messenger javascript events
      </p>
    </div>

    <div *ngIf="itemSelected" class="item-container col-12 text-center">
      <h2>You have clicked on {{itemSelected}}</h2>
    </div>
  </div>

  <!-- <df-messenger
    intent="WELCOME"
    chat-title="ang-df-bot"
    agent-id="be77c568-9083-4fd6-b657-a1cdc09dbed0"
    language-code="en">
  </df-messenger> -->
</div>